SESSION_SECRET=
PASSWORD_PEPPER=
PUBLIC_ORIGIN=
DONATION_SECRET=
ITEMS_SECRET=
STATS_SECRET=
DONATION_WEBHOOK=
SINGLE_ITEM_WEBHOOK=
BULK_ITEMS_WEBHOOK=
STATS_WEBHOOK=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET=
REQUIRE_SIGNED_WEBHOOKS=false
