    <header class="navbar">

        <div class="logo">

            <img src="assets/logo.png"
                 alt="Logo">

            <div>

                <h2>Lacywings Studio</h2>

                <span>Creating Roblox Experiences</span>

            </div>

        </div>

        <nav>

            <a href="#">Inicio</a>

            <a href="#">Nosotros</a>

            <a href="#">Juegos</a>

            <a href="#">Logros</a>

            <a href="#">Equipo</a>

            <a href="#">Contacto</a>

        </nav>

        <div class="actions">

            <button id="loginButton">

                Iniciar sesión

            </button>

        </div>

    </header>